[
  {  "_comment": "These _comment fields should be removed in a 'real' build.config file.",
     "_owner_comment": "Replace 'half-ogre' below with the owner of the repository to build. This will usually be your GitHub account username or a GitHub organization's name.",
     "owner": "half-ogre",
     "_name_comment": "Replace 'qed' below with the name of the repository to build.",
     "name": "qed",
     "_token_comment": "If you want to update GitHub commit statuses, replace null below with a string containing an OAuth GitHub token with 'repo:status' scope.",
     "token": null,
     "_command_comment": "Replace the build command below with your own, e.g. powershell.exe, or msbuild.exe, or cmd.exe.",
     "command": "msbuild.exe",
     "_command_comments_comment": "Replace the build command arguments below with your own.",
     "commandArguments": "qed.sln",
     "_more_repositories_comment": "To add another repository to build, add another of these JSON object's to the root array."
  }
]