<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>QED CI</title>
  <style>
    html {
      margin: 0;
    }

    body { 
      font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
      margin: 0px;
    }

    a {
      color: #336699;
    }

    header {
      background-color: black;
      color: white;
      display: block;
      padding: 10px;
    }

    header p {
      font-size: 24px;
    }

    section.main {
      padding: 10px;
    }

    h2.repository {
      margin-bottom: 5px;
    }

    .build-description { 
      font-size: 1.1em; 
      margin: 5px 0px; 
    }

    a.build-failed { color: red; }

    a.build-succeeded { color: green; }
  </style>
</head>
<body>
  <header>
    <p>QED CI</p>
  </header>
  <section class="main">
    {{>body}}
  </section>
</body>
</html>
