<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>qed</title>
  <style>
    .build-failed a { color: red; }
    .build-succeeded a { color: green; }
  </style>
</head>
<body>
  <h1>qed</h1>
  {{>body}}
</body>
</html>
