  <h1><a href="/">Home</a> &raquo; <a href="/{{owner}}/{{name}}">{{owner}}/{{name}}</a> &raquo; Build #{{id}}</h1>
  <h2 class="build-{{status}}">{{description}}</h2>
  {{#failed}}
  <form action="/events/force" method="POST">
    <input name="payload" type="hidden" value='{ "ref": "{{ref}}", "repository": { "owner": { "name": "{{owner}}" }, "name": "{{name}}" } }' />
    <button type="submit">Build {{refDescription}}</button>
  </form>

  <form action="/events/force" method="POST">
    <input name="payload" type="hidden" value='{ "revision": "{{revision}}", "ref": "{{ref}}", "repository": { "owner": { "name": "{{owner}}" }, "name": "{{name}}" } }' />
    <button type="submit">Rebuild {{sha}}</button>
  </form>
  {{/failed}}
  <pre>{{output}}</pre>
