  <h1><a href="/">Home</a> &raquo; <a href="/{{owner}}/{{name}}">{{owner}}/{{name}}</a> &raquo; Build #{{id}}</h1>
  <h2 class="build-{{status}}">{{description}}</h2>
  {{#failed}}
  <form action="/events/rebuild" method="POST">
    <input name="build_id" type="hidden" value="{{id}}" />
    <button type="submit">Retry {{sha}}</button>
  </form>
  {{/failed}}
  <pre>{{output}}</pre>
