  <h2>Build {{id}} for {{owner}}/{{name}}</h2>
  {{#failed}}
  <form action="/events/rebuild" method="POST">
    <input name="build_id" type="hidden" value="{{id}}" />
    <button type="submit">Retry</button>
  </form>
  {{/failed}}
  <pre>{{output}}</pre>
