  <h2>Builds for {{owner}}/{{name}}</h2>
  <ul>
    {{#builds}}
	  <li>
      <a href="/{{owner}}/{{name}}/builds/{{id}}" class="build-{{status}}">{{ref}}@{{revision}}</a>
    </li>
    {{/builds}}
  </ul>
