  <h1>Configured GitHub Repositories</h1>
  <ul>
    {{#configuredRepos}}
    <li>
      <a href="/{{owner}}/{{name}}"><h2 class="repository">{{owner}}/{{name}}</h2></a>
      {{#lastBuild}}
      <p class="build-description">Last: <a href="/{{owner}}/{{name}}/builds/{{id}}" class="build-{{status}}">{{description}}</a></p>
      {{/lastBuild}}
    </li>
    {{/configuredRepos}}
  </ul>
